{% extends "audition/layout.html" %}
    {% load static %}

    {% block title %}Audition{% endblock %}

    {% block script %}
        <script src="{% static 'audition/index.js' %}"></script>
    {% endblock %}

    {% block body %}

        <h1 class="page-title"></h1>

        <!--All auditons view-->
        <div class="all-auditions">
            

            <!--If there are auditions, display them-->
            {% if auditions %}
                {% for audition in auditions %}
                    <div class="audition-block">
                        <div class="audition-info">
                            <h3 class="audition-title">{{ audition.role }} in {{ audition.title }}</h3>
                        </div>
                        <div class="audition-date-block">
                            <h5 class="audition-date">On {{ audition.date }}</h5>
                            <button class="audition-buttons view" data-id="{{ audition.id }}">View</button>
                            <button class="audition-buttons delete" data-id="{{ audition.id }}">Delete</button>
                        </div>
                    </div>
                {% endfor %}
            
                <!--If there are no auditions then display the following-->
            {% else %}
                    <div class="audition-block">
                        <h2 class="no-auditions">No auditions to show</h2>
                    </div>
            {% endif %}
        </div>

        <!--Display for a single audition-->
        <div class="single-audition">

        </div>
    {% endblock %}