{% load static %}
<!DOCTYPE HTML>
<html lang=en>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block script %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'audition/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="nav-bar">
            <ul class="nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" id="index" href="{% url 'index'%}">Your Auditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Add-audition" href="{% url 'new_audition' %}">Add Audition</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Logout" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" id="Login" href="{% url 'login'%}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Register" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            <ul>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>