{% extends 'audition/layout.html' %}

{% block title %}New Audition{% endblock %}

{% block body %}

    <h1 class="page-title">New Audition</h1>

    <!--Form for new auditions-->
    <div class="form-outer-container">
        <div class="form-inner-container">
            <form class="new-audition-form" action="{% url 'new_audition' %}" method="post">
                {% csrf_token %}
                <div class="auditon-form form-fields">
                    <label class="form-label" for="title">Title*</label>
                    {{ form.title }}
                    <label class="form-label" for="role">Role*</label>
                    {{ form.role }}
                    <label class="form-label" for="date">Date*</label>
                    {{ form.date }}
                </div>
                <div class="script-form">
                    <label for="script">Add your scripts here. If you have multiple scripts then seperate them by using 3 hash's (###)</label>
                    {{ form.script }}
                    <label for="scene">Please add the title of your scripts here. If you ave multiple scripts then seperate them by using a comma (,)</label>
                    {{ form.scene }}
                </div> 
                <div class="form-buttons-container">
                    <input class="form-button" type="submit" value="Add Audition">
                    <a href="{% url 'index' %}"><div class="form-button">Cancel</div></a>
                </div>
            </form>

            <!--Message if from was invalid-->
            {% if message %}
                <h4 class="error-message">{{ message }}</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}